<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado"
  aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button> <!-- button responsivo -->

<!-- USUARIO NA NAVBAR -->
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="https://i.imgur.com/xQcqX43.png" alt="icone usuario" width="50" height="50" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item p-3">
        <p class="m-0 font-weight-bold text-dark fs-13">Nome do Usuario</p>
      </li>

      <!-- BOTÃO DE NOVO POST -->
      <li class="nav-item p-3 fs-13 m-0">
        <a href="#">
          <button type="button" class="btn btn-transparent btn-outline-info">
            <i class="fa fa-pencil-square-o text-sucess" aria-hidden="true"></i> Novo Post</button>

        </a>
      </li>

      <!-- BOTÃO SAIR -->
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair <i
        class="fa fa-sign-out" aria-hidden="true"></i></button>
    </div>
  </div>

</nav>
