<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
<img src="https://i.imgur.com/xQcqX43.png" alt="imagem de usuario" width="50px" height="50px" class="img-fluid rounded-circle">        </li>
        <li class="nav-item pl-3">
            
    <p class="m-0 font-weight-bold text-white fs-16">Seja Bem-vinde</p>  
            
    <li class="nav-item active">
        <a href="">
            <p class="m-0 font-weight-bold text-white fs-16 pl-3"><i class="fa fa-pencil-square-o text-white fs-16"></i></p>         
        </a>
    <li class="nav-item pl-3">

    </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            
            <a class="m-0 font-weight-bold text-white fs-16">Encerrar sessão <i class="fa fa-sign-out" aria-hidden="true"></i></a>  
                    
            <li class="nav-item active">
    </ul>

</nav>